
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.App {
  text-align: center;
}


.page {
  padding: 100px 2rem 2rem;
  max-width: 800px;
  margin: auto;
  line-height: 1.6;
  text-align: center;
  color: #222;
}

.page h1 {
  scroll-margin-top: 120px;
  font-size: 2rem;
  color: #01959a;
  margin-bottom: 1rem;
}

